@media only screen and (max-width:560px){

    header.hero .header-content{
        display: flex;
        flex-direction: column;

        div {
            width: 100%;
        }

        .header-left{
            width: 65%;
        }

        .header-right{
            font-size: .7em;
            text-align: center;
        }

    }

    .single-cases header.hero .header-content{
        .header-left{
            margin-top: -50px;
        }
    }




    
    

    footer.footer {
        .footer-bg {
        top: -100px;
        }
    }

    h1.entry-title {
        font-size: 2rem;
    }
        
}